.note-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   background-color: white;
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 800px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid #f3a683;
  }
  
  .note-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }
  
  .note-card-content {
    display: flex;
    flex-direction: column;
    width: 100%; 
  }
  
  .note-card-header {
    display: flex;
    justify-content: space-between; 
    width: 100%;
    margin-bottom: 10px;
  }
  
  .note-card h1 {
    font-size: 18px;
    color: #333;
    margin: 0;
    font-weight: 700;
  }
  .note-card p {
    font-size: 14px;
    color: #555;
    margin: 0; 
  }
  .category {
    padding: 4px 8px;
    background-color: #ffeaa7; 
    color: #d35400;
    font-size: 12px;
    border-radius: 5px;
    font-weight: bold;
    margin-left: 10px; 
  }
  .note-card-body {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
  }

  
  .delete-button {
    align-self: flex-start; 
    padding: 6px 12px;
    background-color: #e74c3c;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .delete-button:hover {
    background-color: #ff7675;
  }
  .cat-container{
    display: flex;
    justify-content: space-between;
  }