.note-img-container1 {
  display: flex;
  align-items: center; 
  margin-bottom: 20px; 
}

.notes-img {
  margin-right: 10px; 
  width: 50px; 
}

.notes-title {
  margin: 0; 
}

.add-container1 {
  display: flex;
  flex-direction: column;
  align-items: center;   
  height: 100vh; 
  text-align: center;
  padding-top: 20px; 
}

.note-container1 {
  width: 100%; 
  margin: 0 auto; 
  overflow-y: scroll;
  height: 70vh;
  background-color: transparent; 
  padding: 10px; 
  display: flex;
  flex-direction: column;
  align-items: center; 
}
